*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    position: relative;
    height: 100vh;
    background-color: #e9ecef;
    flex-direction: column;
    align-items: center;
    padding: 12em 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap-question{
    display: flex;
    position: relative;
    flex-direction: column; 
    width: 600px;
    gap: 30px 0;
}

.title{
    background-color: transparent !important;
    text-align: center;
    font-size: 2em !important;
    font-weight: 300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.7;
}

.wrap-question *{
    font-size: 1em;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

.answer1, .answer2, .answer3{
    display: none;
    opacity: 0.7;
    font-size: 0.8em;
    padding: 10px;
}

.show{
    display: block;
}

.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-title p{
    flex: 10;
    opacity: 0.8;
}

.question-title button{
    flex: 1;
    /* width: 5em; */
    height: 40px;
    cursor: pointer;
    border: 1px solid #1d2d44;
}

/* class plus akan terhapus terlebih dahulu ketika button ditekan, ini cara kerja classList.toggle() */
.answer-show1.plus::before,
.answer-show2.plus::before,
.answer-show3.plus::before{
    content: "+";
}

/* class min ini akan ditambahkan terlebih dahulu ketika button ditekan*/
.answer-show1.min::after,
.answer-show2.min::after,
.answer-show3.min::after{
    content: "-";
}

@media (min-width: 560px) {
    .question-title p{
        flex: 15;
    }
}

@media screen and (max-width: 680px) {
    .wrap-question{
        width: 500px;
        gap: 30px 0;
    }
}
@media screen and (max-width: 560px) {
    .wrap-question{
        width: 400px;
        gap: 30px 0;
    }
}
@media screen and (max-width: 450px) {
    .wrap-question{
        width: 300px;
        gap: 30px 0;
    }

    .question-title p{
        flex: 8;
    }
}